<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div id="scene" class="col-lg-12 scene-graph">
                <a 
                    href="#menu-toggle" 
                    class="btn btn-default btn-sidebar" 
                    id="menu-toggle">
                    <span 
                        class="glyphicon glyphicon-align-justify"
                        aria-hidden="true">    
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->