<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form name="formRegister">
                <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group" 
                            ng-class="{ 
                                'error' : 
                                !formRegister.name.$pristine &&
                                formRegister.name.$error.required, 
                                
                                'success': 
                                !formRegister.name.$pristine && !formRegister.name.$error.required
                             }">

                            <input 
                                type="text"
                                name="name"
                                id="name"
                                class="form-control input-md"
                                placeholder="Nombre"
                                ng-model="form.name"
                                ng-keydown="filterLettersOnly($event)" 
                                required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group"
                            ng-class="{ 
                                'error' : 
                                !formRegister.lastName.$pristine &&
                                formRegister.lastName.$error.required, 
                                
                                'success': 
                                !formRegister.lastName.$pristine && !formRegister.lastName.$error.required
                             }">
                            <input 
                                type="text"
                                name="lastName"
                                id="lastName"
                                class="form-control input-md"
                                placeholder="Apellido"
                                ng-model="form.lastName"
                                ng-keydown="filterLettersOnly($event)"
                                required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group"
                            ng-class="{ 
                                'error' : 
                                !formRegister.ci.$pristine &&
                                (formRegister.ci.$error.required ||
                                formRegister.ci.$invalid), 
                                
                                'success': 
                                !formRegister.ci.$pristine && !formRegister.ci.$error.required &&
                                formRegister.ci.$valid
                             }">
                            <input 
                                type="text"
                                name="ci"
                                id="ci"
                                class="form-control input-md"
                                placeholder="Cedula"
                                minlength="7" 
                                maxlength="8" 
                                ng-model="form.ci"
                                ng-keypress="filterNumberOnly($event)"
                                required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group"
                            ng-class="{ 
                                'error' : 
                                !formRegister.role.$pristine &&
                                formRegister.role.$error.required, 
                                
                                'success': 
                                !formRegister.role.$pristine && !formRegister.role.$error.required
                            }">
                            <select 
                                name="role"
                                id="role"
                                class="form-control input-md"
                                required="required"
                                ng-model="form.rol">
                                    <option value="">Usted es</option>
                                    <option 
                                        class="text-capitalize"
                                        ng-repeat="option in view.rol | orderBy: '+name_rol'"
                                        value="{{option.rol}}">{{ option.name_rol | capitalize }}
                                    </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="form.rol && form.rol === '2'">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group"
                            ng-class="{ 
                                'error' : 
                                !formRegister.school.$pristine &&
                                formRegister.school.$error.required, 
                                
                                'success': 
                                !formRegister.school.$pristine && !formRegister.school.$error.required
                            }">
                            <select 
                                name="school"
                                id="input"
                                class="form-control input-md"
                                required="required"
                                ng-model="form.school">
                                    <option value="">Seleccione carrera</option>
                                    <option 
                                        class="text-capitalize"
                                        ng-repeat="option in view.career | orderBy: '+school'"
                                        value="{{option.code_career}}">{{ option.school | capitalize }}
                                    </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                         <div 
                            class="form-group"
                            ng-class="{ 
                                'error' : 
                                !formRegister.teacher.$pristine &&
                                formRegister.teacher.$error.required, 
                                
                                'success': 
                                !formRegister.teacher.$pristine && !formRegister.teacher.$error.required
                            }">
                            <select 
                                name="teacher"
                                id="teacher"
                                class="form-control input-md"
                                required="required"
                                ng-model="form.ci_teacher">
                                    <option value="">Seleccione Profesor</option>
                                    <option 
                                        class="text-capitalize"
                                        ng-repeat="option in view.teachers | orderBy: '+fullName'"
                                        value="{{option.ci_teacher}}">{{ option.fullName | capitalize }}
                                    </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div 
                    class="form-group"
                    ng-class="{ 
                        'error' :  
                        !formRegister.email.$pristine && (
                        !formRegister.email.$error.required || 
                        formRegister.email.$invalid), 
                        'success' : 
                        !formRegister.email.$invalid &&
                        !formRegister.email.$error.required }">
                    <input 
                        type="email"
                        name="email"
                        id="email"
                        class="form-control input-md"
                        placeholder="Dirección email"
                        ng-model="form.email"
                        ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/"
                        required>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group"
                            ng-class="{ 
                                'error' :  
                                    (!formRegister.password1.$pristine && 
                                    formRegister.password1.$error.required) ||
                                    (!formRegister.password1.$pristine && 
                                    !formRegister.password1.$error.required &&
                                    !formRegister.password2.$pristine && 
                                    formRegister.password2.$error.required) ||
                                    (!formRegister.password1.$error.required && !formRegister.password2.$error.required && form.password1 !== form.password2),

                                    'success': !formRegister.password1.$error.required && !formRegister.password2.$error.required && form.password1 === form.password2
                                }">

                            <input 
                                type="password"
                                name="password1"
                                id="password"
                                class="form-control input-md"
                                placeholder="Password"
                                ng-model="form.password1"
                                required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div 
                            class="form-group"
                             ng-class="{ 
                                    'error' :  
                                    (!formRegister.password2.$pristine && 
                                    formRegister.password2.$error.required) ||
                                    (!formRegister.password2.$pristine && 
                                    !formRegister.password2.$error.required &&
                                    !formRegister.password1.$pristine && 
                                    formRegister.password1.$error.required) ||
                                    (!formRegister.password1.$error.required && !formRegister.password2.$error.required && form.password1 !== form.password2),

                                    'success': !formRegister.password1.$error.required && !formRegister.password2.$error.required && form.password1 === form.password2
                                     
                                    }">
                                <input 
                                    type="password"
                                    name="password2"
                                    id="password_confirmation"
                                    class="form-control input-md"
                                    placeholder="Confirm Password"
                                    ng-model="form.password2"
                                    required>
                        </div>
                    </div>
                </div>
                
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <a 
                            href="#" 
                            class="btn btn-success btn-block btn-lg"
                            ng-click="login()">Sign In
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input 
                            type="submit"
                            value="Register"
                            class="btn btn-primary btn-block btn-lg"
                            ng-disabled="formRegister.$invalid"
                            ng-click="register()">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <!-- <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                </div>
            </div>
        </div>
    </div>-->
</div>