<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <a 
                href="#menu-toggle" 
                class="btn btn-default btn-sidebar" 
                id="menu-toggle">
                 <span 
                    class="glyphicon glyphicon-align-justify"
                    aria-hidden="true">    
                </span>
            </a>

            <a-scene>
                <a-entity
                    id="camera"
                    camera="fov: 80; zoom: 1;"
                    position="0 2 5"
                    orbit-controls="
                        invertZoom: true;
                        autoRotate: false;
                        target: #target;
                        enableDamping: true;
                        dampingFactor: 0.125;
                        rotateSpeed:0.25;
                        minDistance:3;
                        maxDistance:100;"
                    mouse-cursor=""
                    >

                    <a-entity 
                        geometry="primitive:cone; radius-bottom:1; radius-top:0" scale=".33 1 .33" 
                        position="0 0 0" 
                        rotation="0 0 0" 
                        material="color: #0099ff; transparent: true; opacity:0.5">
                    </a-entity>
                </a-entity> 


                <a-assets id="a-assets">

                </a-assets>

                <a-entity id="target"> 

                </a-entity>
            </a-scene>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper 

