<a-scene id="a-scene">
    <a-entity
        id="camera"
        camera="fov: 80; zoom: 1;"
        position="0 2 5"
        orbit-controls="
            invertZoom: true;
            autoRotate: false;
            target: #target;
            enableDamping: true;
            dampingFactor: 0.125;
            rotateSpeed:0.25;
            minDistance:3;
            maxDistance:100;
            "
        mouse-cursor=""
        >

        <a-entity 
            geometry="primitive:cone; radius-bottom:1; radius-top:0" scale=".33 1 .33" 
            position="0 0 0" 
            rotation="90 0 0" 
            material="color: #0099ff; transparent: true; opacity:0.5">
        </a-entity>
    </a-entity>

    <a-assets>
        <!-- <a-asset-item 
            id="crate-obj" 
            src="src/model/violin_case.obj">    
        </a-asset-item>
        <a-asset-item 
            id="crate-mtl" 
            src="src/model/vp.mtl">
        </a-asset-item> -->
        <a-asset-item 
            id="model" 
            src="src/model/model2.gltf">    
        </a-asset-item>
    </a-assets>

    <a-entity id="target"> 
        <!-- <a-marker type='pattern' url='src/vectorial/carmen.patt'>
            <a-obj-model 
                src="#crate-obj" 
                mtl="#crate-mtl"
                position="1 0.5 0"
                scale="0.5 0.5 0.5">        
            </a-obj-model>
        </a-marker> -->

        <a-marker type='pattern' url='src/vectorial/pattern-files/gregory.patt'>
            <a-gltf-model 
                src="#model" 
                position="-0.025 0.5 0"
                scale="0.025 0.025 0.025">        
            </a-gltf-model>
        </a-marker>
    </a-entity>
</a-scene>
