<!DOCTYPE html>
<html ng-app='test1'>
	<head>
		<base href="/">
		<title>Prueba</title>
		<link rel="stylesheet" href="src/css/font/font.css">
		<link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">


		<!-- Dependencias -->
		<script src="node_modules/angular/angular.min.js">
		</script>
		<script src="node_modules/angular-route/angular-route.min.js"></script>
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
		<!-- FIN Dependencias -->
		

		<!-- Javascript Propios -->
		<script src="src/js/modules/module.js">
		</script> 
		<script src="src/js/routes/routes.js">
		</script>
		<script src="src/js/controllers/ctrlTest.js">
		</script>
		<script src="src/js/controllers/ctrlTest2.js">
		</script>
		<script src="src/js/controllers/ctrlTest3.js">
		</script>
		<!-- FIN Javascript Propios -->
		
	</head>
	
	<body>

	  	<div ng-controller="test4">
	  		{{ algo }}
	  	</div>

		<a href="/">Index</a>
		<a href="/about">About</a>
		
		<div ng-view="">
		</div>	
	
		<!-- <script src="dist/bundle.js"></script> -->
	</body>
</html>