@import url('../../../src/css/font/font.css');
@import url('../../../node_modules/materialize-css/dist/css/materialize.min.css');
@import url('../../../src/css/quill/quill.snow.css');
@import url('../../../src/css/katex/katex.min.css');

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
     