@import url('../../../src/css/quill/quill.snow.css');
@import url('../../../src/css/katex/katex.min.css');
@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../../src/css/simple-sidebar.css');
@import url('../../../node_modules/sweetalert2/dist/sweetalert2.min.css');

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

body {
  width: 100vw !important;
  height: 100vh !important; 
  margin-left: 0px !important;
  margin-top: 0px !important;
}
  
.error {
  border-color: #b94a48 !important;
  color: #b94a48;
}

.error > input{
  border-color: #b94a48 !important;
  color: #b94a48;
}

.error > select{
  border-color: #b94a48 !important;
  color: #b94a48;
}

.error > span {
  color: #b94a48;
}

.success {
 border-color: #9AC361;
 color: #b94a48;
}

.success > input{
  border-color: #9AC361 !important;
  color: #9AC361;
}

.success > select{
  border-color: #9AC361 !important;
  color: #9AC361;
}

.btn-sidebar{
    position: absolute !important;
    top: 0vh !important;
    left: 3.5vw !important;
    z-index: 1000;
}

div[class="container-fluid"] {
  padding-left: 0px !important;
}

div[id="page-content-wrapper"] {
  padding: 0px !important;

  @media(min-width:768px) {
    padding: 0px !important;
  }
}

.image-background{
  background-image: url("../images/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.scene-graph{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.select-functionality{
    font-size: 33px !important;
    color: #FFFFFF;
    text-align: center;
}

.select-functionality > a{
  margin-right: 24px;
  color: #FFFFFF;
  text-decoration: none;  
}

.sidebar-brand > p {
    position: absolute;
    top: 2%;
    left: 25%;
    color: white;
}

.sidebar-brand > p > span {
  position: absolute;
  top: 0.5vh;
  left: calc(100% + 17px);
}

.advanced-options {
  margin-top: 5%;
  color: #FFFFFF;
}

.advanced-options > p > span{
  position: absolute;
  top: 0.5vh;
  left: calc(100% - 90px);
}

.options {
  margin-left: 12%;
}

.box-content-teacher {
  background: #6084aa;
  width: 100%;
  height: 23vh;
  padding-top: 5%;
  padding-bottom: 0%;
  overflow: auto;
  margin-bottom: 4%;
}

.box-content-student {
  border: 2px solid white;
  width: 100%;
  height: 35vh;
  padding-top: 5%;
  padding-bottom: 0%;
  overflow: auto;
  margin-bottom: 4%;
}


.margin-botton {
  margin-bottom: 4%;
}

.box-content-teacher > .zone{
    display: inline-block;
}

.box-content-student > .zone{
    display: inline-block;
}

.zone >  div[class="col-sm-1 col-xs-1"] {
  margin-top: 11%;
  margin-left: -4%;
}

.box-content-teacher > .zone > div[class="col-sm-5 col-xs-5"] > #resource {
  border: 7px solid white;
  width: 100%;
  left: -12vw;
  height: calc(12vh - 2.2vh);
}

.box-content-student > .zone > div[class="col-sm-5 col-xs-5"] > #resource {
  border: 7px solid white;
  width: 100%;
  left: -12vw;
  height: 12.2vh;
}

.first-marker{
  height: calc(10.6vh - 1vh) !important;
}

/*@media(min-width:691px) and (max-width:1023px){
  .first-marker {
    height: calc(10.9vh - 1vh) !important;
  }
}

@media(min-width:1024px) and (max-width:1439px){
  .first-marker {
    height: calc(9.3vh - 1vh) !important;
  }
}

@media(min-width:1440px) and (max-width:1519px) {
  .first-marker {
    height: calc(8.1vh - 1vh) !important;
  }
}*/

.makers{
  border: 2px solid white;
  padding: 0.5px 0.5px;
  width: 100%;
  height: 22vh;
}

.markers > img{
  margin-right: 1%;
  margin-left:  1%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.list {
  list-style: none outside none;
  margin: 10px 0 30px;
}

.apps-container {
  padding: 5px;
  width: 18vw;
  height: 18vh;
}

.box-content-teacher > .apps-container {
  margin-top: -4vh !important;
  width: 100% !important;
}

.box-content-student > .apps-container {
  margin-top: -4vh !important; 
}

.box-content-student > p[class="text-right"] {
  color: white;
}

.box-content-teacher > p[class="text-right"]:hover {
  cursor: pointer;
}
.box-content-teacher > p[class="text-right"] {
  color: white;
}

.box-content-student > p[class="text-right"]:hover {
  cursor: pointer;
}

.box-content-teacher > .apps-container:hover {
  cursor: move;
}

.box-content-student > .apps-container:hover {
  cursor: move;
}

.marker-selected {
  background-color: #DDEEAA;
  text-align: center; 
}

.app {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #EA8A8A;

  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}


/***  Extra ***/

body {
  font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
  margin-top: 20px;
  width: 250px;
  min-height: 300px;
  padding: 5px 15px;
  border: 5px solid #000;
  border-radius: 15px;
}

.logItem {
  margin-bottom: 10px;
}

.logList:before {
  content: 'log';
  padding: 0 5px;
  position: relative;
  top: -1.1em;
  background-color: #FFF;
}

.container {
  width: 750px;
  margin: auto;
}

h2 {
  text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.margin-not {
  padding-left: 0px;
  padding-right: 0px;  
}

.margin-not > a#bottomLeft {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.margin-not > a#bottomRight {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.guide {
  color: white
}

.guide > span#folder {
  margin-right: 2vw;
  font-size: 23px;
}

.guide > span#guideName {
  position: absolute;
  margin-top: 4px;
  font-size: 18px;
}

.guide > span#arrow {
  position: absolute;
  margin-top: 1vh;
  font-size: 18px;
  left: calc(100% + -7pc);
}

.guide > span#arrowGuide {
  position: absolute;
  margin-top: 1vh;
  font-size: 18px;
  left: calc(100% - 5pc);
}

.guide > ul > li > span#markerName:hover {
  cursor:pointer;
}

.guide > ul#markerNameList{
  background-color: #6084aa;
  height: calc(100vh - 48vh);
  overflow: auto;
}

.guide > ul#markerNameList > li > span {
  cursor: pointer;
}

.color-button {
  background-color: #1390fb !important;
  border-color: #1390fb !important;   
}